
body {
	background-color: #CCFFFF;
}

#wrapper {
	width: 85%;
	min-width: 760px;
	margin: 0 auto;
	border: 2px solid blue;
	background-color: #FFF;
	padding: 10px 5px 0;

}

h1 {
	text-align: center;
	color: #330066;
}

h2 {
	text-align: center;
	color: blue;
}

h3 {
	text-align:center;
	letter-spacing:5px;
}

img {
	width: 150px;
	height: 140px;
	margin-right:20px;
	float: left;
}

#footer {
	clear: both;
	background-color: #990000;
	text-align: center;
	font-size: 65%;
	font-weight: bold;
	color: white;
	padding: 25px;
	margin-top: 30px;
}

#nav {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

button {
	background-color: #990000;
	padding: 20px;
	border: 10px;
	border-radius: 20px;
	width: 120px;
	
}

a {
	color: white;
}

a:link {
  text-decoration: none;
}

#bigger {
	color: #990000;
	font-size: 48px;
}