* {
  box-sizing: border-box;
}

form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid black;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: right;
}
form input {
  margin: 6px 0px;
  background: white;
  border: 1px solid #9c9c9c;
  width: 100%;
}

form p {
  margin: 6px 0px;

}
label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

.myinput {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  background-color: gold;
}
form div { text-align:center; }
input[type="submit"], input[type="reset"] {
  background: lightgray;
  padding: 0.7em;
  border: 0;
  width: 60px;
}
h1 { text-align: center; font-style: italic; color: gold; }